<footer>
  <div class="f-info">
    <div class="footer-logo">
      <img src="/logo.png" alt="Logo" class="logo" />
    </div>
    <div class="f-info-content">
      <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
      <div class="f-info-links">
        <a>Privacy</a>
        <a>Terms</a>
      </div>
    </div>
  </div>
</footer>
